{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="wizard-content col-md-9">
  <h4 class="step-title">{{t admin.oidc.wizard.step3.header}}</h4>
  <p class="step-description">{{t admin.oidc.wizard.step3.description}}</p>

  <table class="table table-condensed" style="max-width: 600px;">
    <tbody>
      <tr>
        <td class="col-sm-5"><strong>{{t admin.oidc.wizard.step2.adminUrl}}</strong></td>
        <td>{{controller.wizardController.content.adminUrl}}</td>
      </tr>
      <tr>
        <td><strong>{{t admin.oidc.wizard.step2.adminRealm}}</strong></td>
        <td>{{controller.wizardController.content.adminRealm}}</td>
      </tr>
      <tr>
        <td><strong>{{t admin.oidc.wizard.step2.realm}}</strong></td>
        <td>{{controller.wizardController.content.realm}}</td>
      </tr>
      <tr>
        <td><strong>{{t admin.oidc.wizard.step2.issuerUrl}}</strong></td>
        <td>{{controller.wizardController.content.issuerUrl}}</td>
      </tr>
      <tr>
        <td><strong>{{t admin.oidc.wizard.step2.adminUsername}}</strong></td>
        <td>{{controller.wizardController.content.adminUsername}}</td>
      </tr>
      <tr>
        <td><strong>{{t admin.oidc.wizard.step2.verifyTls}}</strong></td>
        <td>{{#if controller.wizardController.content.verifyTls}}{{t common.yes}}{{else}}{{t common.no}}{{/if}}</td>
      </tr>
    </tbody>
  </table>

  <div class="alert alert-info" style="margin-top: 16px;">
    <p>
      {{view App.CheckboxView classNames="checkbox-inline" checkedBinding="controller.restartServices"
        labelTranslate="admin.oidc.wizard.step3.restartAfter"}}
    </p>
  </div>

  <div class="wizard-footer">
    <button class="btn btn-default pull-left" {{action back target="controller"}}>
      &larr; {{t common.back}}
    </button>
    <button class="btn btn-success pull-right" {{action enableOidc target="controller"}}
      {{bindAttr disabled="controller.isSubmitDisabled"}}>
      {{t admin.oidc.wizard.step3.enableBtn}}
    </button>
  </div>
</div>
